<header>
    <div class="container">
			
			<a href="#">
			<div class="right-side">
			
				<img src="https://www.seeklogo.net/wp-content/uploads/2016/05/instagram-icon-logo-vector-download.jpg" class="icon">
				<hr class="vertical">
				<img src="http://pngimg.com/uploads/instagram/instagram_PNG5.png" class="label">
				 <!--<#% image_tag "image.png", class="" %> -->
			</div>
			</a>
			
		<div class="buttons">
			<a href="#"><img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_compass_direction_icon.png" class="icon"></a>
			<a href="#"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/25848-200.png" class="icon"></a>
			<a href="#"><img src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-256.png" class="icon"></a>
		</div>
		</div>
</header>